{% extends 'base.html' %}

{% block title %}
Post List
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h1 class="text-center">Makaleler</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 offset-lg-2">
        {% for field in form %}
        <form action="{% url 'post-list' %}">
            <div class="row">
                {% for error in field.errors %}
                <div class="col-lg-6">
                    <span class="text-danger">{{ error }}</span>
                </div>
                {% endfor %}
                <div class="col-lg-2 d-flex align-self-center justify-content-end">
                    {{ field.label }}
                </div>
                <div class="col-lg-3 align-self-center">
                    {{ field }}
                </div>
                {% endfor %}
                <div class="col-lg-1">
                    <input type="submit" value="Sorgula" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        {% for makale in posts %}
        <div class="col-lg-6 offset-lg-3">
            <a href="{% url 'detail' makale.slug %}" class="text-center"><h3>{{ makale.title }}</h3></a>
            <p class="text-center"><i>{{ makale.get_yayin_tipi|safe }}</i></p>
        </div>
        {% if makale.get_file %}
        <div class="col-lg-6 offset-lg-3 text-center">
            <img src="{{ makale.get_file }}" class="mt-3 mb-5 img-fluid max-width:10%" alt="">
        </div>
        {% endif %}
        <div class="col-lg-6 offset-lg-3">
            <p class="text-center">{{ makale.content|safe|truncatechars:150 }}</p>
            <p class="text-center"><small>{{ makale.created_date}}</small></p>
            <hr>
        </div>
        {% empty %}
        <div class="col-lg-6 offset-lg-3">
            <p class="mt-5 text-center lead">Aradığınız kriterlerde bir makale bulunamadı.</p>
        </div>
        {% endfor %}
    </div>
</div
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        {% if posts.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }} {% if request.GET.keyword %}&keyword={{ request.GET.keyword }} {% endif %}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link"><span>&laquo;</span></a></li>
                {% endif %}
                {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                        <li class="page-item active"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }} {% if request.GET.keyword %}&keyword={{ request.GET.keyword }} {% endif %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }} {% if request.GET.keyword %}&keyword={{ request.GET.keyword }} {% endif %}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}